# Naver Map & Geocoding
NAVER_MAP_CLIENT_ID=
NAVER_GEOCODE_CLIENT_SECRET=
NAVER_GEOCODE_BASE_URL=https://maps.apigw.ntruss.com/map-geocode/v2/geocode

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=

# Public Data - NTS Business Validate
NTS_BUSINESS_API_KEY=
NTS_BUSINESS_URL=https://api.odcloud.kr/api/nts-businessman/v1/validate

# Food Safety Korea - Restaurant License Open API
FOOD_SAFETY_API_KEY=
FOOD_SAFETY_BASE_URL=http://openapi.foodsafetykorea.go.kr/api

# Juso Address Search Open API
JUSO_API_KEY=
JUSO_API_URL=https://business.juso.go.kr/addrlink/addrLinkApi.do
